/* .container {
 margin-top: 25%;
} */

.posicionar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
    align-items: center;
}

.img{
    width: 100%;
}

.conteudo{
    width: 85% !important;
    background-color: #fff;
    height: 760px;
}

/* main {
    margin-top: 25% !important ;
} */

.gradient-brackgound {
    width: 100% !important;
    /* background: linear-gradient(
        34deg,
        rgba(66, 66, 66, 1) 0%,
        rgba(240, 96, 0, 1) 0%,
        rgba(255, 249, 237, 1) 100%
      ) !important; */
}

:root {
     background: rgba(255, 255, 255, 0)!important;
}

#root {
    width: 100%;
    background-color: transparent;
    height: 100vh;    
}

.divisao {
    position: relative;
    margin-top: 2.5rem;  
    left: 45%;  
    margin-bottom: 3rem;
    color: #f06000;
}

.divisao::before, .divisao::after {
    content: "";
    display: block;
    width: 40%;
    height: 0.12rem;
    background-color: #f06000;
    position: absolute;
    top: 0;
}

.divisao::before {
  
    left: -45%; /* Altere para a localização desejada */
    top: 50%;
}

.divisao::after {
    left: 13%;
    top: 50%;

}

.fontForm3 input{
    font-size: 0.9rem;
}