/* .container {
 margin-top: 25%;
} */

.posicionar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
    align-items: center;
}

.img{
    width: 100%;
}

.conteudo{
    width: 85% !important;
    background-color: #fff;
    height: 680px;
}

/* main {
    margin-top: 25% !important ;
} */

.gradient-brackgound {
    width: 100% !important;
    /* background: linear-gradient(
        34deg,
        rgba(66, 66, 66, 1) 0%,
        rgba(240, 96, 0, 1) 0%,
        rgba(255, 249, 237, 1) 100%
      ) !important; */
}

:root {
     background: rgba(255, 255, 255, 0)!important;
}

#root {
    width: 100%;
    background-color: transparent;
    height: 100vh;    
}

.line-left{
    content: "";
    display: block;
    width: 150px;
    height: 0.05rem;
    background-color: #f06000;
    position: absolute;
}

#line-rigth {
    content: "";
    display: block;
    width: 150px;
    height: 0.5rem;
    background-color: #000;
    position: absolute; 
}