.container-home-restaurante {
    width: 100%;
    min-height: 420px;
    margin-top: 3%;
}

.container-header {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 60%;
    width: 100%;
}

.titulo-home-restaurante h1 {
    font: 700;
    color: #F06000;
    font-family: "Signika Negative";
    font-weight: 700;

}

.button-meus-itens {
    width: 140px;
    /* height: 40px; */
    text-align: center !important;
    /* margin-bottom: 34.5px; */
    color: white !important;
}

.botao-1 {
    padding: 10px;
}

.botao-2 {
    padding: 10px;
}

/* MEDIA QUERY'S */
/* DISPOSITIVOS MÓVEIS */
@media (max-width: 780px) {
    /* .container-header{
        display: none;
    } */

    .button-home-restaurante {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .imagem-home-restaurante {
        display: none !important;
    }

    .titulo-home-restaurante {
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
    
    }

    .titulo-home-restaurante h1 {
        font-size: 36px;
    }

    .imagem-home-restaurante img {
        height: 87px;
        width: 105px;
    }

    .header-home-restaurante .button-home-restaurante {
        display: flex;
        flex-direction: row-reverse;
        width: 190px;
        margin-left: 32%;
    }

    .button-home-restaurante .button-header {
        width: 190px !important;
        /* height: 40px !important; */
        color: #F06000;
        background-color: white;
        margin-top: 30%;
    }

    .invisivel-mobile {
        display: none;
    }
}

/* TABLET'S */
@media screen and (min-width: 781px) and (max-width: 1200px) {
    .container-home-restaurante {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .container-header {
        height: 50vh;
        display: flex;
    }

    .titulo-home-restaurante {
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        padding: 30px;
    
    }

    .titulo-home-restaurante h1 {
        font-size: 46px;
    }


    .button-meus-itens {
        min-width: 200px;
        max-width: 200px;
        height: 43px;
        margin-bottom: 1rem !important;
    }

    .imagem-home-restaurante h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .button-add-itens {
        width: 200px;
        /* height: 40px; */
        text-align: center !important;
        color: white !important;
    }

    .invisivel-desktop {
        display: none;
    }

    .container-header div img {
        width: 365.33px;
        height: 314px;
    }

}

/* TELAS GRANDES */
@media screen and (min-width: 1201px) {
    .header-home-restaurante {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .container-header {
        height: 60vh;
    }

    .titulo-home-restaurante {
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        padding: 30px;
    
    }

    .titulo-home-restaurante h1 {
        font-size: 57.5px;

    }

    .button-header {
        display: flex;
        flex-flow: column nowrap;

    }

    .imagem-home-restaurante {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container-header div img {
        width: 482px;
        height: 414px;
    }

    .button-add-itens {
        min-width: 200px;
        max-width: 200px;
        height: 43px;
        text-align: center !important;
        color: white !important;
        margin-bottom: 1rem !important;
    }

    .button-meus-itens {
        min-width: 200px;
        max-width: 200px;
        height: 43px;
        margin-bottom: 1rem !important;
    }

    .invisivel-desktop {
        display: none;
    }
}