.container-home-restaurante {
    width: 100%;
}

.container-header {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 60%;
    width: 100%;
}

.titulo-home-restaurante h1 {
    font: 700;
    color: #F06000;
    font-family: "Signika Negative";
    font-weight: 700;
    padding-right: 30px;
}

.titulo-home-restaurante {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.button-meus-itens {
    width: 140px;
    /* height: 40px; */
    text-align: center !important;
    /* margin-bottom: 34.5px; */
    color: white !important;
    margin-right: 10px;
}

/* MEDIA QUERY'S */
/* DISPOSITIVOS MÓVEIS */
@media (max-width: 780px) {
    /* .container-header{
        display: none;
    } */

    .header-home-restaurante {
        height: 220px;
    }

    .button-home-restaurante {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .imagem-home-restaurante {
        display: none !important;
    }

    .titulo-home-restaurante h1 {
        font-size: 36px;
    }

    .imagem-home-restaurante img {
        height: 87px;
        width: 105px;
    }

    .header-home-restaurante .button-home-restaurante {
        display: flex;
        flex-direction: row-reverse;
        width: 190px;
        margin-left: 32%;
    }

    .button-home-restaurante .button-header {
        width: 190px !important;
        /* height: 40px !important; */
        color: #F06000;
        background-color: white;
        margin-top: 30%;
    }

    .invisivel-mobile {
        display: none;
    }
}

/* TABLET'S */
@media screen and (min-width: 781px) and (max-width: 1200px) {
    .container-home-restaurante {
        width: 100%;
    }

    .container-header {
        height: 50vh;
    }

    .titulo-home-restaurante h1 {
        font-size: 46px;
        width: 75%;
        height: 50%;
        display: flex;
        align-items: center;
    }

    .button-header {
        width: 75%;
        height: 50%;
    }

    .button-add-itens {
        min-width: 200px;
        max-width: 200px;
        height: 43px;
        text-align: center !important;
        color: white !important;
        margin-bottom: 1rem !important;
    }

    .button-meus-itens {
        min-width: 200px;
        max-width: 200px;
        height: 43px;
        margin-bottom: 1rem !important;
    }

    .imagem-home-restaurante {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container-header div img {
        width: 231px;
        height: 249px;
    }

    .button-add-itens {
        width: 200px;
        /* height: 40px; */
        text-align: center !important;
        color: white !important;
    }

    .invisivel-desktop {
        display: none;
    }
}

/* TELAS PEQUENAS */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .header-home-restaurante {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }


    .container-header {
        display: flex;
    }


    .titulo-home-restaurante h1 {
        font-size: 46px;
        width: 75%;
        height: 50%;
        display: flex;
        align-items: center;
    }

    .button-header {
        width: 75%;
        height: 50%;
        display: flex;
        flex-flow: column nowrap;
    }

    .button-add-itens {
        min-width: 200px;
        max-width: 200px;
        height: 43px;
        text-align: center !important;
        color: white !important;
        margin-bottom: 1rem !important;
    }

    .button-meus-itens {
        min-width: 200px;
        max-width: 200px;
        height: 43px;
        margin-bottom: 1rem !important;
    }

    .imagem-home-restaurante {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container-header div img {
        width: 365.33px;
        height: 314px;
    }

    .button-add-itens {
        width: 166px;
        /* height: 40px; */
        text-align: center !important;
        color: white !important;
    }

    .invisivel-desktop {
        display: none;
    }
}

/* TELAS GRANDES */
@media screen and (min-width: 1201px) {
    .header-home-restaurante {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .container-header {
        height: 60vh;
    }

    .titulo-home-restaurante h1 {
        font-size: 57.5px;
        width: 75%;
        height: 50%;
        display: flex;
        align-items: center;
        margin-left: 30% !important;
    }

    .button-header {
        min-width: 200px;
        max-width: 200px;
        height: 50%;
        display: flex;
        flex-flow: column nowrap;
        
    }

    .imagem-home-restaurante {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container-header div img {
        width: 482px;
        height: 414px;
    }

    .button-add-itens {
        min-width: 200px;
        max-width: 200px;
        height: 43px;
        text-align: center !important;
        color: white !important;
        margin-bottom: 1rem !important;
    }

    .button-meus-itens {
        min-width: 200px;
        max-width: 200px;
        height: 43px;
        margin-bottom: 1rem !important;
    }

    .invisivel-desktop {
        display: none;
    }
}