@media (max-width: 480px) {

  .sectionRestauranteDesktop, .sectionComidaDesktop {
    display: none;
  }

  .sectionRestaurante {
    padding-top: 50px;
  }

  .searchBox {
     display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchBoxRestaurante {
    display: flex;
    align-items: center;
    margin-left: 18px;
    height: 38px;
    background-color: #F5F2F2;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    line-height: 18px;
  }

  .searchBoxButton{
    color: #ffffff !important;
    padding: 15px !important;
  }

  .searchBoxRestauranteSvg {
    width: 28px;
    height: 28px;
    cursor: pointer;
  }

  .searchBoxRestauranteSvgFilter {
    width: 28px;
    height: 28px;
    cursor: pointer;
  }

  .melhoresRestaurantes {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
  }

  .melhoresRestaurantesSvg {
    padding-bottom: 10px;
  }

  .melhoresRestaurantesTxt {
    width: 80%;
    text-align: left;
  }

  .melhoresRestaurantesTxtP {
    font-size: 24px;
    line-height: 30px;
    color: #f06000;
    margin-left: 10px;
    font-weight: bold;
  }

  .BoxComida {
    padding-top: 30px;
  }

  .searchBoxComida {
    display: flex;
    align-items: center;
    height: 38px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    line-height: 18px;
    margin-top: 30px;
  
  }

  .sectionComida {
    margin-top: 20px;
    background-color: #F5F2F2;
    width: 100%;
    max-width: 480px;
    padding-bottom: 20px;
  }


  .escolhaComida {
    display: flex;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .searchBoxComidaInput {
    flex-grow: 1;
    border: none;
    background-color: #FFFFFF;
  }

  .searchBoxComidaInput:focus {
    outline: none;
  }

  .escolhaComidaTxt {
    color: #f06000;
    font-size: 36px;
    padding-right: 20px;
    line-height: 44px;
    max-width: 210px;
    font-weight: bold;
  }

  .escolhaComidaSvg {
    padding-right: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Exibe 3 categorias por linha */
    width: 100%;
    max-width: 480px;
    object-fit: cover;
  }

  .categoria-item {
    text-align: center;
  }

  .categoria-item img {
    width: 70%;
    /* Ajuste o tamanho da imagem conforme necessário */
  }

  .categoria-item h3 {
    margin-top: 10px;
    /* Espaçamento entre a imagem e o título */
    font-size: 18px;
    line-height: 24px;
    align-items: center;
  }

}

@media screen and (min-width: 481px) and (max-width: 786px) {
  .sectionRestaurante, .searchBox, .searchBoxRestaurante,
  .searchBoxFilter, .melhoresRestaurantes, .melhoresRestaurantesSvg, .melhoresRestaurantesTxt
  .melhoresRestaurantesTxtP, .sectionComida, .searchBox, .searchBoxComida,
  .escolhaComida, .escolhaComidaTxt, .escolhaComidaSvg, .grid-container, .categoria-item {
    display: none;
  }

  .sectionRestauranteDesktop {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 620px;
    height: 100%;
    justify-content: center;
  }

  .divRestauranteDesktop {
    display: grid;
    justify-content: center;
    margin: 30px;
  }

  .melhoresRestaurantesDesktop {
    display: inline-flex;
    align-items: initial;
    justify-content: initial;
    max-width: 500px;
    width: 100%;
  }

  .melhoresRestaurantesTxtDesktop {
    font-size: 54px;
    line-height: 54px;
    color: #f06000;
    font-weight: bold;
    text-align: center;
  }

  .melhoresRestaurantesLoremDesktop {
    display: inline-flex;
    width: 100%;
    max-width: 500px;
  }

  .melhoresRestaurantesLoremTxtDesktop {
    font-size: 14px;
    text-align: initial;
  }

  .searchBoxDesktopInput {
    display: flex;
    width: 100%;
    max-width: 300px;
    background-color: #F5F2F2;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 18px;
  }

  .searchBoxA{
    text-decoration: none;
  }
  .searchBoxRestauranteInputDesktop {
    flex-grow: 1;
    border: none;
    background-color: #F5F2F2;
  }

  .searchBoxRestauranteInputDesktop:hover {
    outline: none;
  }

  .searchBoxRestauranteButtonDesktop {
    display: flex;
    justify-content: center;
    border: none;
  }

  .searchBoxRestauranteButtonStyleDesktop {
    border: none !important;
    color: #FFFFFF !important;
    border-radius: 8px !important;
    padding: 15px !important;
  }
  
  .divRestauranteDesktopLeft {
    text-align: center;
    height: auto;
  }

  .divRestauranteDesktopImg {
    display: none;
  }

  .sectionComidaDesktop {
    display: block;
    width: 100%;
    height: auto;
    background-color: #F5F2F2;
  }

  .divComidasDesktop {
    display: grid;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;

  }

  .melhoresComidasDesktop {
    display: inline-flex;
    align-items: initial;
    justify-content: initial;
    margin-top: 30px;
    width: 100%;
  }
  
  .melhoresComidasTxtDesktop {
    font-size: 48px;
    line-height: 54px;
    color: #f06000;
    font-weight: bold;
    text-align: initial;
  }

  .searchBoxComidasDesktop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 300px;
    margin: 0px 0px 40px 80px;
  }

  .searchBoxComidasInputDesktop {
    display: flex;
    width: 100%;
    max-width: 300px;
    background-color: #ffffff;
    padding: 10px;
    font-size: 20px;
    line-height: 18px;
    border: none;
  }

  .melhoresComidasImgDesktop {
    text-align: center;
    height: auto;
  }

  .searchBoxComidasButtonDesktop {
    display: flex;
    justify-content: center;
    border: none;
  }
  .melhoresComidasImgStyleDesktop {
    max-width: 60%;
    height: auto;
    margin-bottom: 30px;
    margin-right: 50px;
  }

  .searchBoxComidasButtonStyleDesktop {
    border: none !important;
    color: #FFFFFF !important;
    border-radius: 8px !important;
    padding: 20px !important;
  }

  .searchBoxComidasInputDesktop:hover {
    outline: none;
  }

  .divGridComidaDesktop {
    display: grid;
    justify-content: center;
    margin: 30px;
    width: 35%;
  }

  .grid-containerDesktop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* Exibe 3 categorias por linha */
    width: 100%;
  }

  .categoria-itemDesktop {
    text-align: center;
  }

  .cetegoria-imgDesktop {
    width: 80%;
  }

  .categoria-TxtDesktop {
    font-size: 18px;
  }
  
}

@media (min-width: 786px) {
  .sectionRestaurante, .searchBox, .searchBoxRestaurante,
  .searchBoxFilter, .melhoresRestaurantes, .melhoresRestaurantesSvg, .melhoresRestaurantesTxt
  .melhoresRestaurantesTxtP, .sectionComida, .searchBox, .searchBoxComida,
  .escolhaComida, .escolhaComidaTxt, .escolhaComidaSvg, .grid-container, .categoria-item {
    display: none;
  }

  .sectionRestauranteDesktop {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 620px;
    height: 100%;
    justify-content: center;
  }

  .divRestauranteDesktop {
    display: grid;
    justify-content: center;
    margin: 30px;
  }

  .melhoresRestaurantesDesktop {
    display: inline-flex;
    align-items: initial;
    justify-content: initial;
    max-width: 500px;
    width: 100%;
  }

  .melhoresRestaurantesTxtDesktop {
    font-size: 54px;
    line-height: 54px;
    color: #f06000;
    font-weight: bold;
    text-align: center;
  }

  .melhoresRestaurantesLoremDesktop {
    display: inline-flex;
    width: 100%;
    max-width: 500px;
  }

  .melhoresRestaurantesLoremTxtDesktop {
    font-size: 14px;
    text-align: initial;
  }

  .searchBoxDesktop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .searchBoxRestauranteButtonDesktop {
    border: none;
  }

  .searchBoxRestauranteButtonStyleDesktop {
    border: none !important;
    color: #FFFFFF !important;
    border-radius: 8px !important;
    padding: 20px !important;
  }
  


  .divRestauranteDesktopLeft {
    text-align: center;
    height: auto;
  }

  .divRestauranteDesktopImg {
    max-width: 80%;
    height: auto;
    background-color: #ffffff;
  }

  .sectionComidaDesktop {
    background-color: #F5F2F2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .divComidasDesktop {
    display: grid;
    margin: 30px 30px 30px 50px;
    width: 35%;
  }

  .melhoresComidasDesktop {
    width: 100%;
  }
  
  .melhoresComidasTxtDesktop {
    font-size: 38px;
    line-height: 46px;
    color: #f06000;
    font-weight: bold;
    text-align: center;
  }

  .searchBoxComidasDesktop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  
  
  .searchBoxComidasSpanDesktop {
    background-color: #ffffff;
    border-radius: 0px 8px 8px 0px;
    padding: 1px;
  }
  
  .searchBoxComidasSpanDesktop svg {
    fill: #f06000;
  }

  .melhoresComidasImgDesktop {
    text-align: center;
    height: auto;
  }

  .searchBoxComidasButtonDesktop {
    display: flex;
    justify-content: center;
    border: none;
  }

  .searchBoxComidasButtonStyleDesktop {
    border: none !important;
    color: #FFFFFF !important;
    border-radius: 8px !important;
    padding: 15px !important;
  }

  .melhoresComidasImgStyleDesktop {
    max-width: 60%;
    height: auto;
    margin-bottom: 30px;
  }
  
  .divGridComidaDesktop {
    display: grid;
    justify-content: center;
    margin: 30px;
    width: 35%;
  }

  .grid-containerDesktop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* Exibe 3 categorias por linha */
    width: 90%;
  }

  .categoria-itemDesktop {
    text-align: center;
  }

  .cetegoria-imgDesktop {
    width: 70%;
  }

  .categoria-TxtDesktop {
    font-size: 18px;
  }
}




@media (min-width: 1400px) {
  .sectionComidaDesktop {
    padding: 1% 3%;
}
}

/* Desktop fim */