.form-control {
    border: 1.5px solid #f06000 !important;
    border-radius: 0.375rem !important;
}

.input-group-text {
    background-color: #f06000 !important;
    padding: 0rem 0.25rem;
    border: 0px;
    border-radius: 8px !important;
    position: relative;
    border: 0 !important;         
}

    /* .invisible-icon{
        display: none;
    } */

/* .form-control:hover {
    border: 1.7px solid #f27826 !important;
} */

/* .input-group-text:hover {
} */