

.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #f06000 !important;
    --bs-btn-border-color: #f06000 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #f27826 !important;
    --bs-btn-hover-border-color: #f2701a !important;
    --bs-btn-focus-shadow-rgb: 204, 82, 0;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #f38033 !important;
    --bs-btn-active-border-color: #f2701a !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: #f06000 !important;
    --bs-btn-disabled-border-color: #f06000 !important;
}    


