.imagem-perfilRes-mobile {
  display: block;
  max-width: -webkit-fill-available;
  align-items: center;
}

.imagem-perfilRes-web {
  display: none;
}

.background-gradient-escuro {
  background: linear-gradient(90deg,
      rgba(54, 54, 54, 0.905374649859944) 15%,
      rgba(217, 123, 11, 0.8213410364145658) 43%,
      rgba(255, 255, 255, 1) 100%);
}

.container-perfil-rest {
  width: 90% !important;
  background-color: #fff !important;
  box-shadow: #d93f0b1a 0px 4px 12px;
  overflow: hidden !important;
  margin-top: 7%;
  margin-bottom: 8%;
  border-radius: 30px;
}

.container-titulo-perfil {
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
}

.title-perfil-rest {
  color: #f06000;
  font-size: 2.5rem;
  font-weight: bold;
  max-width: 380px;
}


.font-data {
  font-size: 1rem;
  color: #555555 !important;
}

.select-perfil {
  overflow: visible !important;
  border-color: #f06000 !important;
  border-width: 1.5px !important;
  padding: 0.375rem 1.25rem 0.35rem 0.75rem !important;
}

.white {
  color: #fff !important;
}

.button-perfil {
  margin-right: 5% !important;

}



hr {
  color: #f06000;
}

.botao-voltar-editar {
  height: 38px;
  margin-top: 5px;
}


.input-group-perfil .input-uf {
  width: 100% !important;
  border: 1px solid #f06000;
  border-radius: 8px !important;
}


.input-group-perfil .formulario-editar-perfil {
  width: 100% !important;
  border: 1px solid #f06000;
  border-radius: 8px !important;
}


@media (max-width: 750px) {
  .form-perfil div div {
    width: 100%;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    text-align: start !important;
  }

  .input-group-perfil label {
    width: 90%;
    text-align: start;
    padding-left: 1%;
  }

  .input-group-perfil {
    display: flex;
    flex-flow: nowrap column;
    width: 100%;
  }

  .input-group-perfil .formulario-editar-perfil,
  .input-group-perfil .input-uf {
    width: 90% !important;
  }

  .inputs-editar-rest label, .num-comp-perfil .complemento-perfil{
    margin-top: 12px;
  }
}

  .inputs-editar-rest .cidade-perfil{
    margin-top: 0;
  }

@media (min-width: 751px) {

  .logo-web-perfil {
    display: block;
    max-width: 250px;
    margin-left: 1rem !important;
  }

  .card-web-rest {
    background-color: #d97b0b;
    position: relative;
    border-radius: 30px;
    padding: 2rem;
    height: 100%;
  }

  .imagem-perfilRes-web {
    display: block;
    width: 100%;
    margin-top: 2rem;
  }

  .container-edit-rest {
    height: 100%;
    overflow-y: hidden !important;
    min-height: 900px;
  }

  main.container-perfil-rest {
    min-height: 590px !important;
    max-width: 900px !important;
    overflow: hidden !important;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
  }

  .form-perfil {
    padding-left: 25px !important;
  }

  .container-formulario {
    width: 50%;
  }

  .inputs-editar-rest {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inputs-editar-rest .input-cidade,
  .inputs-editar-rest .input-cep {
    width: 160px;
  }

  div .input-group-perfil {
    width: 100% !important;
    display: flex;
    flex-flow: nowrap column;
  }

  .input-group-perfil .formulario-editar-perfil {
    width: 100% !important;
    border: 1px solid #f06000;
    border-radius: 8px !important;
  }

  .container-num-cep {
    display: flex;
    justify-content: space-between;
  }

  .num-comp-perfil {
    width: 48%;
  }

  .imagem-perfilRes-mobile {
    display: none;
  }

  .title-perfil-rest {
    margin-top: 0;
    margin-left: 3%;
  }
  .botao-voltar-editar {
    height: 38px;
    margin-top: 5px;
  }
}

@media (min-width: 460px) {
  .container-edit-rest {
    height: 100%;
    align-items: center !important;
    display: block !important;
  }

  .container-perfil-rest {
    width: 90% !important;
    /* max-width: 900px !important; */
    margin-left: 5%;
    margin-right: 5%;
  }

}

@media (min-width: 970px) {

  .container-edit-rest {
    max-width: none;
    min-width: auto;
    max-height: none;

    height: 100%;
    overflow-y: hidden !important;
  }


  .container-perfil-rest {
    width: 80% !important;
    max-width: 900px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-web-perfil {
    display: block;
    max-width: 250px;
    margin-left: 1rem !important;
  }

  .card-web-rest {
    background-color: #d97b0b;
    position: relative;
    border-radius: 30px;
    padding: 2rem;
    height: 100%;
  }

  .imagem-perfil-web {
    display: block;
    width: 100%;
    margin-top: 2rem;
  }

  .flex-perfil-rest {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .title-perfil-rest {
    margin-top: 0;
    margin-left: 3%;
  }
}


@media (min-width: 1020px) {
  .card-web-rest {
    /* min-width: 480px !important; */
    left: 2.3%;
  }
}

@media (min-width: 1200px) {
.container-edit-rest {
  height: 100%;
  overflow-y: hidden !important;
  display: block !important;
}
  main.container-perfil-rest {
    min-height: 590px !important;
    max-width: 1000px !important; 
    overflow: hidden !important;   
  }
}