.container-addComida {
    min-height: 140vh !important;
}
.container-forms-comidas {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.forms-comidas {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 36px;
    border-radius: 34px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.formulario {
    width: 94% !important;
}

.forms-header-desktop {
    height: 100%;
}

.forms-select-comida {
    width: 95%;
}

.custon-input-group {
    width: 95% !important;
}

.preco .span-preco {
    background-color: #f06000 !important;
    padding: 0.3rem 0.55rem !important;
    border: 0px;
    border-radius: 8px 0 0 8px !important;
    position: none !important;
    border: 0 !important;
    right: 0% !important;
}

.forms-comidas h1 {
    color: #f06000;
    font-family: 'Signika Negative';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    margin: 5px 0 5px 0;
    text-align: center;
    width: 100%;
}

.forms-comidas div .exluir-form-card {
    background-color: white;
    color: #f06000;
}


.forms-comidas div .botao-form-card {
    width: 100px !important;
    height: 38px !important;
    color: white;
}

.forms-container-botoes {
    width: 100%;
    
}

.borda-direita {
    border-radius: 0.375rem !important;
}

.forms-comidas div .forms-borda {
    border: 1px solid #f06000;
}

.input-preco .forms-preco {
    width: 50% !important;
}

.botao-voltar-addatt {
    height: 38px !important;
    
    width: 48px !important;
    padding: 1% !important;
    /* margin-left: 50% !important; */
  }



@media (max-width: 480px) {

    .forms-comidas {
        width: 90%;
    }

    .forms-container-group {
        width: 85%;
        margin-left: 5%;
    }

    .forms-comidas img {
        width: 290px;
        height: 218px;
        border-radius: 15px;
        margin: 10px 0;
    }

   .botao-form-card {
        width: 112px !important;        
        color: white;
        height: 38px !important;
    }

    /* .vertical-row {
        width: 100%;
        border-top: 1px solid rgba(240, 96, 0, 0.8);
    } */
    /* a .button-desc-cliente {
        padding-bottom: 100px !important;
    } */

    .icon-voltar-comida a{
        display: flex;
    }
    .invisible-mobile {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .forms-comidas {
        width: 85%;
    }

    .forms-container-group {
        width: 85%;
        margin-left: 5%;
    }

    .forms-comidas img {
        width: 290px;
        height: 218px;
        border-radius: 15px;
        margin: 10px 0;
    }

    .vertical-row {
        width: 100%;
        border-top: 1px solid rgba(240, 96, 0, 0.8);
    }
    
    .icon-voltar-comida a{
        display: flex;
    }
    .invisible-mobile {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .forms-comidas {
        width: 70%;
    }

    .forms-container-group {
        width: 90%;
    }

    .forms-comidas h1 {
        color: rgba(240, 96, 0, 1);
        font-family: 'Signika Negative';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        margin: 5px 0 5px 0;
        text-align: center;
        width: 100%;
    }

    .forms-comidas img {
        width: 373px;
        height: 280px;
        border-radius: 15px;
        margin: 10px 0;
    }

    .form-peso{
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }


    .forms-comidas .vertical-row {
        width: 100%;
        border-top: 1px solid rgba(240, 96, 0, 0.8);
    }


    .invisible-mobile {
        display: none;
    }
}

@media screen and (min-width: 1201px) {



    .forms-comidas {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        height: 100% !important;
    }

    .forms-header-desktop {
        height: 80vh;
        display: flex;
        flex-flow: nowrap column;
        justify-content: center;
        padding-bottom: 75px;
    }

    .forms-container-group {
        display: flex;
        width: 45%;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0;
    }

    .forms-comidas img {
        width: 429px;
        height: 322px;
        margin-bottom: 10% !important;
    }

    .forms-comidas h1 {
        font-size: 45px;
        line-height: 49px;
    }

    .horizontal-row {
        height: 80%;
        border-left: 1px solid rgba(240, 96, 0, 0.8);
        margin-right: 35px;
    }

    .vertical-row {
        height: 100%;
        border-top: 1px solid rgba(240, 96, 0, 0.8);
    }

    .invisible-desktop {
        display: none;
    }
}