.container-pedidos {
  min-height: 50vh;
  margin-top: 5%;
}

.aguardando {
  color: #b4a7d6;
}

.confirmado {
  color: #808005;
}

.aCaminho {
  color: #239999;
}

.entregue {
  color: #6aa84f;
}

.cancelado {
  color: #e01919;
}

.p-table {
  margin: 0 !important;
}
