.pedidos-cliente-titulo {
    color: #f06000;
    font-family: 'Signika Negative';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    text-align: start;
    margin-left: 50px;
    width: 100%;
}

@media (max-width: 480px) {
    .pedidos-cliente-titulo {
        font-size: 35px !important;
        line-height: 35px !important;
    }
}