.footer {
    background-color: #363636;
}

.divGeral{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.divGeral2{
    margin: 0 auto;
    width: 80%;
}

.div1 {
    width: 50%;
    color: #ffffff;
    display: inline-block;
}

.div1 img{
    width: 60%;
}

.div2 {
    width: 30%;
    color: #ffffff;
    display: inline-block;
    margin-top: 20px;
}

.hr1 {
    color: #ffffff;
}

.p1{
    color: #ffffff;
}

