/* .header {
    background-color: #e29837;
}

.header nav a {
    color: #ffffff;
    text-decoration:  none;
}

.header nav a:hover {
    color: #000000;
} */

.icones-atalho-grandes{
    font-size: xx-large;
}

.icones-atalho{
    font-size: xx-large;
}