/* .header {
    background-color: #e29837;
}

.header nav a {
    color: #ffffff;
    text-decoration:  none;
}

.header nav a:hover {
    color: #000000;
} */

.icones-atalho-grandes{
    font-size: x-large;
}

.icones-atalho{
    font-size: x-large;
}

.container-navbar {
    padding: 6px 2% !important;
}

@media (min-width: 1400px) {
    .container-navbar {
      padding: 1% 3% !important;
  }
  }
