.cardapio-titulo{
    color: #f06000;
    font-family: 'Signika Negative';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    text-align: start;
    margin-left: 50px;
    width: 100%;
}

form .input-cardapio-cliente{
    border-radius: 8px !important;
    width: 300px !important;
    display: flex;
    justify-content: end;
    align-items: end;
}
.rating-stars {
    color: #ffd700; /* Cor das estrelas preenchidas */
  }

  .botao-voltar-cardapio {
    height: 38px !important;
    width: 38px !important;
    padding: 1% !important;
    margin-bottom: 3%;
    margin-right: 1%;
  }
