.link-footer {
    text-decoration: none !important;
    color: #d97b0b !important;
  }
  .link-footer:hover {
    color: #41474a !important;
  }
  
  .my-app-footer {
    color: #d97b0b !important;
    box-shadow: #D93F0B1a 0px -4px 12px;   
    background-color: F5F2F2 !important;
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    border: none !important;
  }
  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0px;
    max-width: 1150px !important;
    margin: 0 5% !important;
  }
  
  .logo-footer {
    width: 80% !important;
  }
  
   .col-one-footer{
    margin-left: 25% !important;
    margin-top: 1.5rem;
   }

   .col-two-footer{
    margin-top: 1.5rem;
    margin-left: 25% !important;
   }
   .col-two-footer p{
    font-size: 0.95rem;
   }

   .footer-copy{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 6px 0;
    box-shadow: #D93F0B1a 0px -4px 12px;   
    color: #41474a;
    background-color: #F5F2F2 !important;
   }

   .footer-site{
    color: #41474a;
    margin-left: 10px;
    /* text-decoration: none; */
   }

   /* .contato-footer{
    font-size: 0.75rem;
   } */

   @media (max-width: 940px) {
    .col-two-footer p{
      font-size: 0.75rem;
     }
}
   @media (min-width: 1400px) {
    .container-footer {

        /* min-height: 320px !important; */
        max-width: 1150px !important;
        margin: 0 auto !important;

  }
}