
.form-control {
    color: #555 !important;
    border: 1.5px solid #f06000 !important;
    border-radius: 8px 0 0 8px !important;
}

.input-custom-label {
    background-color: #f06000 !important;
    padding: 0.5rem 0.75rem !important;
    border-radius: 0px 8px 8px 0 !important;
    border: 0 !important;   
}


/* .form-control:hover {
    border: 1.7px solid #f27826 !important;
} */

/* .input-group-text:hover {
} */