.background-gradient {
    background: linear-gradient(90deg, rgba(54,54,54,1) 0%,  rgba(240,96,0,0.38139005602240894) 49%, rgba(255,255,255,1) 77%);
    height: 100%;
}
.container-login-cli{
    width: 85% !important;
    background-color: #fff;
    box-shadow: #D93F0B1a 0px 4px 12px;    
    overflow-x: hidden;
    margin-top: 10%;
    margin-bottom: 10%;
}
.logo-login {
    display: none;
}
.img-login{
    display: block;
    max-width: -webkit-fill-available;
    align-items: center;
    margin: 5% auto;
}
.flex {
    display: flex;
}
.input-web{
    font-size: 0.85rem !important;
}
.white{
    color: #fff !important;
}
.eyes {
      cursor: pointer;       
}
.my-button-not-filled {
    color: #f06000 !important;
    background-color: transparent !important;
    font-size: 0.9rem !important;
    font-weight: 300 !important;
    width: 100% !important;
    margin-top: 1rem;
}
.my-button-not-filled:hover {
    color: #fff !important;
    background-color: #f27826 !important;
    font-weight: 500 !important;
}


@media (min-width: 680px) {
    .input-web{
        font-size: 1rem !important;
    }
  }
@media (min-width: 970px) {
    .container-login-cli{
       display: flex;
       flex-direction: row-reverse;
       justify-content: center;
    }
    .logo-login {
        display: block;
        margin-left: 5%;
    }
    .background-gradient {
        background: linear-gradient(90deg, rgba(54,54,54,1) 0%,  rgba(240,96,0,0.38139005602240894) 49%, rgba(255,255,255,1) 77%);
        height: 100%;
    }

    .img-login{
        display: block;
        max-width: fit-content;
        max-width: -webkit-fill-available;
        align-items: center;
        margin: 5% auto;
    }
    .conteudo-login{
        margin-right: 12%;
    }
   
    .colTwoLogin{
        background-color: #D97B0B;
        width: 50%;
        /* position: absolute; */
    }

     .colTwoLogin img {
       margin: 25% auto 0 -15%
            
    } 
   
}

@media (min-width: 1400px) {
    .background-gradient {
        background: linear-gradient(90deg, rgba(54,54,54,1) 0%,  rgba(240,96,0,0.38139005602240894) 49%, rgba(255,255,255,1) 77%);
        max-height: 950px !important;
    }
    .container-login-cli {
       
        max-width: 1150px !important;
        overflow-y: hidden !important;
    }
}