.background-gradient {
    background: linear-gradient(34deg, rgba(255,255,255,1) 27%, #d97b0b 95%);
    min-height: 100vh;
}

.img{
    width: 100%;
    max-width: -webkit-fill-available;
}

.container{
    width: 85% !important;
    background-color: #fff;
    box-shadow: #D93F0B1a 0px 4px 12px;    
    overflow: auto;
}

.white{
    color: #fff !important;
}

.eyes {
      cursor: pointer;       
}

.my-button-not-filled {
    color: #f06000 !important;
    background-color: transparent !important;
    font-size: 0.9rem !important;
    font-weight: 300 !important;
    width: 100% !important;
    margin-top: 1rem;
}

.my-button-not-filled:hover {
    color: #fff !important;
    background-color: #f27826 !important;
    font-weight: 500 !important;
}

@media (max-width: 770px) {
    .colOne img {
        display: none;
    }
}

@media (min-width: 780px) {
    .background-gradient {
        background: linear-gradient(270deg, rgba(255,255,255,1) 27%, rgba(240,96,0,1) 95%);
        min-height: 100vh;
    }
    .grid {
        display: grid;
        grid-template-columns: 20px 1fr 1fr 1fr 60px;
        gap: 0.625rem;
        margin-top: 5%;
    }  
    .colOne {
        grid-row: 1;
        grid-column: 1/-3;   
       
    }
    .colTwo {
        display: grid;
        grid-row: 1;
        grid-column: 4/5;
        position: relative;
        z-index: 2;   
    }
    .colTwo img {
        position: relative;
        z-index: 3;
        box-sizing: border-box !important;
        max-width: 21.875rem;
    }
    
    .colOne img {
        max-width: 16.25rem;
        margin-bottom: 1.25rem;
    }

    .colTwo::after {
        content: "";
        display: block;
        min-height: 36.7rem !important;
        max-width: 62.5rem !important;
        background-color: #f06000;
        position: absolute;
        box-sizing: border-box !important;
        width: 92%;
        z-index: 1;
        border-radius: 30px;
        top: -7%;
        left: 26%;
    }   
    
}

@media (min-width: 840px) {
    main.container {
        min-height: 590px !important;
        max-width: 1000px;
    }
   
    .colTwo img {       
        max-width: 25.85rem;
    }
    
    .colTwo::after {
        width: 97%;       
    }       
}


@media (min-width: 960px)  {
    .colOne {
        grid-column: 2/-4;
    }

    .colTwo {
        grid-row: 1/2;
        grid-column: 3/4;  
    }

    .colTwo img {
        position: relative;
        z-index: 3;
        box-sizing: border-box !important;
    }
    
    .colOne img {
        min-width: 21.25rem;
        margin-bottom: 1.25rem;
    }

    .colTwo::after {
        width: 108%;
        top: -10%;
        left: 7.85rem;     
    }
}

@media (min-width: 1400px) {
    main.container {
        min-height: 590px !important;
        max-width: 1000px !important;
    }
}