    /* CARDS */
    .zerando-margin{
        margin: 0px;
    }

    .main-card-cliente  {
        margin-top: 20px;
    }

    .container-cards-cliente{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .article-home-cliente {
        width: 260px;
        height: 385px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
        margin: 1% 2%;
    }

    .header-cards-cliente  {
        background-color: white;
        height: 198px;
        width: 260px;
        border-radius: 10px 10px 0 0px;
    }

    .header-cards-cliente img {
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0 0px;
    }

    .article-body-cliente {
        background-color: #D97B0B;
        height: 187px;
        border-radius: 0px 0px 10px 10px;
    }

    .article-body div span{
        font-size: 14px;
        padding: 1px 0 0 2px ;
    }

    .titulo-card-cliente {
        width: 100%;
        height: 34px;
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-left: 5px;
    }

    .titulo-card-cliente h1 {
        font-family: "Signika Negative";
        color: #ffffff;
        font-size: 23px;
        font-weight: 700;
        text-align: left;
        height: 100%;
        margin-top: 0px !important;
    }

    .titulo-card-cliente i {
        font-size: 1.5em;
        color: #ffffff;
        padding-right: 5px;

    }

    .infos-card-cliente{
        margin-left: 28px;
        font-size: 16px;
        font-family: 'Signika Negative';
        color: #000000;
        font-style: normal;
        font-weight: 400;
    }

    .infos-card-cliente .descricao-cliente{
        height: 55px;
        display: flex;
        align-items: center !important;
    }

    .preco-card-cliente {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding-left: 15px;
    } 

    .preco-card-cliente h1 {
        font-family: 'Signika Negative';
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        color: #49402F;
    }

    .preco-card-cliente i {
        font-size: 1.5em;
        color: white;
        padding-right: 5px;
    }

    .cards-botoes {
        background-color: transparent;
        margin: 0px !important;
        border: none;
      }