@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Signika+Negative:wght@300;400;500;600;700&display=swap");


$theme-colors: (
  "info": #00b3e6,
  "danger": #f8260c,
  "success": #d97b0b,
  "warning": #f8a80c,
  "primary": #f06000,
  "secondary": #d93f0b,
  "light": #F5F2F2,
  "dark": #16171b,
  "input": #f1f3f6,
);
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box !important;
}

hr{
  color: #f06000 !important;
  margin: 3rem 0 !important;  
  width: 95% !important;
  border-top: 0.12rem solid !important;
  opacity: 1 !important;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Signika Negative", "Roboto" !important;
}

.bg-input {
  background-color: #ffffff !important;
}
.btn-primary {
  --bs-btn-color: #ffffff !important;
 }

.btn:hover {
    color: #ffffff !important;
  }

  .tooltip .tooltip-inner {
    background-color: #F5F2F2;
    color: #d97b0b;
    font-size: 1rem;
    font-weight: 600;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .tooltip-arrow::before,
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #F5F2F2;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .tooltip-arrow::before,
.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: #F5F2F2;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .tooltip-arrow::before,
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #F5F2F2;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .tooltip-arrow::before,
.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color:#F5F2F2;
}

/* CORES DOS STATUS DOS PEDIDOS */
.aguardando{
  color: #b4a7d6;
}
.confirmado{
  color: #808005;
}
.aCaminho{
  color: #239999;
}
.entregue{
  color: #6aa84f;
}
.cancelado{
  color: #e01919;
}

.navbar{
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27white%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
}
@media (max-width: 920px){
  .offcanvas {
    max-width: 80% !important;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
